form{
    width: 30%;
    margin: auto;
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #dedede;
}

@media screen and (max-width: 799px) {
    form{
        width: 85%;
        padding: 1rem;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    form{
        width: 70%;
    }   
}

